<!DOCTYPE html>
<html class="app-ui" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<th:block th:fragment="head">
  <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png"/>
  <link rel="icon" href="/images/favicons/favicon.ico"/>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400"/>
  <link rel="stylesheet" href="/js/plugins/slick/slick.min.css"/>
  <link rel="stylesheet" href="/js/plugins/slick/slick-theme.min.css"/>
  <link rel="stylesheet" id="css-font-awesome" href="/css/font-awesome.css"/>
  <link rel="stylesheet" id="css-ionicons" href="/css/ionicons.css"/>
  <link rel="stylesheet" id="css-bootstrap" href="/css/bootstrap.css"/>
  <link rel="stylesheet" id="css-app" href="/css/app.css"/>
  <link rel="stylesheet" id="css-app-custom" href="/css/app-custom.css"/>

  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework"/>
  <meta name="author" content="rustheme"/>
  <meta name="robots" content="noindex, nofollow"/>
</th:block>

</html>