<!DOCTYPE html>
<html class="app-ui" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<aside class="app-layout-drawer" th:fragment="menu">
  <div class="app-layout-drawer-scroll">

    <nav class="drawer-main">
      <ul class="nav nav-drawer">

        <li class="nav-item nav-drawer-header">General</li>

        <li class="nav-item active">
          <a href="home.html"><i class="ion-ios-speedometer-outline"></i> Dashboard</a>
        </li>

        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="ion-ios-person"></i> <span th:text="${user.getUsername()}"></span></a>
          <ul class="nav nav-subnav">

            <li>
              <a href="base_ui_buttons.html"> Profile</a>
            </li>

            <li>
              <a href=""> Battles</a>
            </li>

            <li>
              <a href=""> Voting</a>
            </li>

            <li>
              <a href=""> Giveaway</a>
            </li>

            <li>
              <a href=""> Friends</a>
            </li>

            <li>
              <a href=""> Shop</a>
            </li>

          </ul>
        </li>

        <li class="nav-item">
          <a href="home.html"><i class="ion-ios-people"></i> My teams</a>
        </li>

        <li class="nav-item active">
          <a href="home.html"><i class="ion-ios-settings"></i> Settings</a>
        </li>

      </ul>
    </nav>

  </div>
  <!-- End drawer scroll area -->
</aside>

</html>